{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <h4 class="mb-3">Crear terminologia</h4>
  <div class="row">
    <div class=" col-sm-8 col-12 card text-left p-5" style="margin-left: 15%">
      <form method="post" novalidate>
        {% csrf_token %}
        <b>{{ form|crispy }}</b>
        <div style="margin-bottom: 50px;">
            <button type="submit" class="btn btn-info">Guardar</button>
            <a href="{% url 'termin:termins_list' %}" class="btn btn-outline-info" role="button">
                Volver
            </a>
        </div>
        </form>
      </form>
    </div>
  </div>
{% endblock %}