{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <h4 class="mb-3">Crear Defensa</h4>
  <div class="row">
    <div class=" col-sm-8 col-12 card text-left p-5" style="margin-left: 15%">
      <form id="formCreate" method="post" novalidate>
        {% csrf_token %}
        <b>{{ form|crispy }}</b>
        <div style="margin-bottom: 50px;">
            <button id="enviar" type="submit" class="btn btn-info">Guardar</button>
            <a href="{% url 'defensas:defensas_list' %}" class="btn btn-outline-secondary" role="button">
                Volver
            </a>
        </div>
        </form>
      </form>
    </div>
    <script type="text/javascript">
     
     $('#enviar').on('click', function(e){

      id = document.getElementById('id_id').value;
      jurado1 = document.getElementById('id_jurado_1').value;
      jurado2 = document.getElementById('id_jurado_2').value;
      juradoAuxiliar = document.getElementById('id_jurado_auxiliar').value;
      calificacion = document.getElementById('id_calificacion').value;
      fechaCorrecciones = document.getElementById('id_fecha_correciones').value;
      categoriatema = document.getElementById('id_tesis').value;

      if(id == ""){ swal("Error", "Falta el id", "error"); return false;}
      if(jurado1 == ""){ swal("Error", "Falta el jurado 1", "error");  return false;}
      if(jurado2 == ""){ swal("Error", "Falta el jurado 2", "error");  return false;}
      if(juradoAuxiliar == ""){ swal("Error", "Falta el jurado auxiliar", "error"); return false;}
      if(calificacion == ""){ swal("Error", "Falta la calificacion", "error");  return false;}
      if(fechaCorrecciones == ""){swal("Error", "Falta la fecha de correcciones", "error");return false;}
      if(categoriatema == ""){swal("Error", "Falta la categoria del tema", "error");return false;}

      e.preventDefault();
      var $thisForm = $(this).parents('form');
      swal({
        title: 'Estas seguro?',
        text: "Los datos de la defensa seran guardados!",
        icon: 'warning',
        buttons: [
          'No',
          'Yes'
       ],
      dangerMode: true,
      }).then(function (isConfirm) {
          if(isConfirm){
            swal({
            title: 'Creado',
            text: 'La defensa fue creada satisfactoriamente!',
            icon: 'success'
            }).then(function() {
             $('#formCreate').submit();
            });
          }
          else{
            //
          }
      })
      });

    </script>
  </div>
{% endblock %}