{% extends 'template.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">defensas</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            {% if user.is_authenticated %}
                {% if user.esAdmin or user.esManager %}
                    <a href="{% url 'defensas:defensas_create' %}" class="btn btn-outline-info" role="button">
                        Crear defensa
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <!--button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          Exportar proximamente poner este boton Herick
        </button!-->
      </div>
    </div>
    <!--h5>Agregar aaqui los filtros de búsqueda ELIAS!!</h5!-->
    {% if defensa_listass %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Codigo de defensa</th>
                        <th>trabajo de Grado asociado</th>
                        <th>Fecha de la defensa</th>
                        <th>Calificacion</th>
                        {% if user.is_authenticated %}
                            {% if user.esAdmin or user.esManager %}
                                <th>Accciones</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for p in defensa_listass %}
                    <tr>
                        <td><a href="{% url 'defensas:defensas_details' p.id %}">{{ p.id }}</a></td>
                        <td>{{p.estatus}}</td>
                        <td>{{p.tesis}}</td>
                        <td>{{p.calificacion}}</td>
                        {% if user.is_authenticated %}
                            {% if user.esAdmin or user.esManager %}
                            <td>
                                <a href="{% url 'defensas:defensas_update' p.id %}">Actualizar</a>
                                <a href="{% url 'defensas:defensas_delete' p.id %}">Eliminar</a>
                            </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No hay defensas de tesis todavia...</p>
    {% endif %}
{% endblock %}


