{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://i0.wp.com/raw.githubusercontent.com/ServiceStack/Assets/master/img/livedemos/techstacks/django-logo.png?resize=450%2C450&ssl=1&crop=1">
    <title>Gestor de Tesis</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
      <a class="navbar-brand" href="/">Proyecto Python </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" >
        {% if not user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="color:white">Hola {{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" style="color:white">Cerrar sesión</a>
          </li>
        </ul>
        {% endif %}

      </div>
    </nav>

    <main role="main" class="container" style=" text-align: center;">
      <div class="starter-template" style="padding: 2%">
        <div class="row">
            <div class="col-ml-5 mr-5 p-3 card">
              <img src="{% static 'logo-UCAB.jpg' %}" width="320" height="240">
            </div>

            <div class="col-ml-5">
              <br>
              <h2>Proyecto de Python para la Gestion de TG</h2>
              {% if user.is_authenticated %}
                <br>
                <br>
                  <p> Pagina principal del proyecto, Gracias por iniciar sesion.  </p>
                  <br>
                  <p> Continue utilizando nuestra aplicacion! </p>
                <a href="{% url 'propuestas:propuestas_list' %}" class="btn btn-outline-primary" role="button">
                  Entrar
                </a>
                <br>
              {% else %}
                <br>
              
                  <p> Pagina principal del proyecto, por favor inicie sesion. </p>
                  <p> Aplicacion creada para la electiva de Python. </p>

                  <style type="text/css">
                    .JB-border{
                      border: 1px solid #c0c1c1!important;
                    }
                  </style>
                  
                   <a href="{% url 'login' %}" class="btn btn-primary mb-3" role="button">
                   Iniciar Sesión
                   </a>
                   <table class="table-100w table table-bordered">
                            <tr>
                                <th colspan="2" class="drf-th-center JB-border">
                                    Nombre
                                </th>
                                <th colspan="3" class="drf-th-center JB-border">
                                    Apellido
                                </th>
                                <th colspan="9" class="drf-th-center JB-border">
                                    Cedula
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2" class="drf-td-center JB-border">
                                    Herick
                                </td>
                                <td colspan="3" class="drf-td-center JB-border">
                                    Navarro
                                </td>
                                <td colspan="9" class="drf-td-center JB-border">
                                    24408999
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="drf-td-center JB-border">
                                    Jorge
                                </td>
                                <td colspan="3" class="drf-td-center JB-border">
                                    Viloria
                                </td>
                                <td colspan="9" class="drf-td-center JB-border">
                                    27513724
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="drf-td-center JB-border">
                                    Ysabel
                                </td>
                                <td colspan="3" class="drf-td-center JB-border">
                                    Ardila
                                </td>
                                <td colspan="9" class="drf-td-center JB-border">
                                    23826183
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="drf-td-center JB-border">
                                    Elias
                                </td>
                                <td colspan="3" class="drf-td-center JB-border">
                                    Barrientos
                                </td>
                                <td colspan="9" class="drf-td-center JB-border">
                                    26089396
                                </td>
                            </tr>
                        </table>
                    </div>
    
                <br>
              {% endif %}
            </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  </body>
</html>