{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>proyecto python: gestor de Tesis</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
      <a class="navbar-brand" href="/">Proyecto Python </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" >
        {% if not user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión web</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Iniciar Sesión Admin</a>
          </li>
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="color:white">Hola {{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" style="color:white">Cerrar sesión</a>
          </li>
        </ul>
        {% endif %}

      </div>
    </nav>

    <main role="main" class="container" style=" text-align: center; padding-top: 5rem;">
      <div class="starter-template">
        <div class="row">
            <div class="col-ml-8">
              <img src="{% static 'logo-UCAB.jpg' %}" width="360" height="280">
            </div>
            <div class="col-ml-8">
              <br>
              <h1>Proyecto de python para la gestion de TG</h1>
              {% if user.is_authenticated %}
                <br>
                <br>
                  <p> Pagina principal del proyecto, Gracias por iniciar sesion  </p>
                  <br>
                  <p> Continue utilizando nuestra aplicacion! </p>
                <a href="{% url 'propuestas:propuestas_list' %}" class="btn btn-outline-primary" role="button">
                  Entrar
                </a>
                <br>
              {% else %}
                <br>
                <br>                  
                  <p> Pagina principal del proyecto, por favor inicie sesion </p>
                  <p> Aplicacion creada para la electiva de Python </p>
                  <p>Herick Navarro<br> Jorge Viloria<br> Ysabel Ardila <br> Elias Barrientos<br></p>
        
                <a href="{% url 'login' %}" class="btn btn-outline-primary" role="button">
                  Iniciar Sesión
                </a>
                <br>
              {% endif %}
            </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  </body>
</html>