{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <h4 class="mb-3">Crear Escuela</h4>
  <div class="row">
    <div class=" col-sm-8 col-12 card text-left p-5" style="margin-left: 15%">
      <form id="formCreate" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div style="margin-bottom: 50px;">
            <button id="enviar" type="submit" class="btn btn-info">Guardar</button>
            <a href="{% url 'escuelas:escuelas_list' %}" class="btn btn-outline-info" role="button">
                Volver
            </a>
        </div>
        </form>
        <script type="text/javascript">

         $('#enviar').on('click', function(e){

          id = document.getElementById('id_nombre').value;

          if(id == ""){ swal("Error", "Falta el nombre", "error"); return false;}
          
          e.preventDefault();
          var $thisForm = $(this).parents('form');
          swal({
            title: 'Estas seguro?',
            text: "Los datos de la escuela seran guardados!",
            icon: 'warning',
            buttons: [
              'No',
              'Yes'
           ],
          dangerMode: true,
          }).then(function (isConfirm) {
              if(isConfirm){
                swal({
                title: 'Creado',
                text: 'Escuela creada satisfactoriamente!',
                icon: 'success'
                }).then(function() {
                 $('#formCreate').submit();
                });
              }
              else{
                //
              }
          })
          });
      </script>
    </div>
  </div>
{% endblock %}