{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <h4 class="mb-3">Crear propuestas</h4>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <div class="row">
    <div class=" col-sm-8 col-12 card text-left p-5" style="margin-left: 15%">
      <form id="formCreate" method="post" novalidate>
        {% csrf_token %}
        <b>{{ form|crispy }}</b>
<!-- 
TODO: ELIAS: en el campo de estatus de la propuesta poner un droplist con los valores: 
* Por evaluar
* Diferida
* Aprobada
* Rechazada
  </!-->

        <div style="margin-bottom: 50px;">
            <button id="enviar" type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'propuestas:propuestas_list' %}" class="btn btn-outline-info" role="button">
                Volver
            </a>
        </div>
        </form>

         <script type="text/javascript">

     $('#enviar').on('click', function(e){

      idFecha = document.getElementById('id_entrega_fecha').value;
      idTitulo = document.getElementById('id_titulo').value;
      idEscuela = document.getElementById('id_escuela').value;
      idStatus = document.getElementById('id_estatus').value;
      idEst = document.getElementById('id_estudiante_1').value;
      idTutorAcademico = document.getElementById('id_tutor_academico').value;
      idTutorEmpresa = document.getElementById('id_tutor_empresa').value;
      idTerm = document.getElementById('id_termin').value;

      if(idFecha == ""){ swal("Error", "Falta la fecha de entrega", "error"); return false;}
      if(idTitulo == ""){ swal("Error", "Falta el titulo", "error");  return false;}
      if(idStatus == ""){ swal("Error", "Falta el estatus", "error");  return false;}
      if(idEscuela == ""){ swal("Error", "Falta la escuela asociada", "error"); return false;}
      if(idEst == ""){ swal("Error", "Escriba por lo menos un estudiante", "error");  return false;}
      if(idTutorAcademico == ""){swal("Error", "Falta el tutor academico", "error");return false;}
      if(idTutorEmpresa == ""){swal("Error", "Falta el tutor de empresa", "error");return false;}
      if(idTerm == ""){swal("Error", "Seleccione alguna terminologia", "error");return false;}

      e.preventDefault();
      var $thisForm = $(this).parents('form');
      swal({
        title: 'Estas seguro?',
        text: "Los datos de la propuesta seran guardados!",
        icon: 'warning',
        buttons: [
          'No',
          'Yes'
       ],
      dangerMode: true,
      }).then(function (isConfirm) {
          if(isConfirm){
            swal({
            title: 'Creado',
            text: 'La propuesta fue creada satisfactoriamente!',
            icon: 'success'
            }).then(function() {
             $('#formCreate').submit();
            });
          }
          else{
            //
          }
      })
      });

    </script>
    </div>
  </div>
{% endblock %}