{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <h4 class="mb-3">Crear propuestas</h4>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
<!-- 
TODO: ELIAS: en el campo de estatus de la propuesta poner un droplist con los valores: 
* Por evaluar
* Diferida
* Aprobada
* Rechazada
  </!-->

        <div style="margin-bottom: 50px;">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'propuestas:propuestas_list' %}" class="btn btn-outline-secondary" role="button">
                Volver
            </a>
        </div>
        </form>
      </form>
    </div>
  </div>
{% endblock %}