{% extends 'template.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Propuestas</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            {% if user.is_authenticated %}
                {% if user.esAdmin or user.esGestor %}
                    <a href="{% url 'propuestas:propuestas_create' %}" class="btn btn-outline-info" role="button">
                        Crear propuesta
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <!--button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          Exportar proximamente poner este boton Herick
        </button!-->
      </div>
    </div>
    <!--h5>Agregar aaqui los filtros de búsqueda ELIAS!!</h5!-->
    {% if propuestas_listass %}
        <div class="table-responsive">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Estatus</th>
                        <th>Fecha de la propuesta</th>
                        {% if user.is_authenticated %}
                            {% if user.esAdmin or user.esGestor %}
                                <th>Accciones</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for p in propuestas_listass %}
                    <tr>
                        <td><a href="{% url 'propuestas:propuestas_details' p.id %}">{{ p.titulo }}</a></td>
                        <td>{{p.estatus}}</td>
                        <td>{{p.entrega_fecha}}</td>
                        {% if user.is_authenticated %}
                            {% if user.esAdmin or user.esGestor %}
                            <td>
                                <a href="{% url 'propuestas:propuestas_update' p.id %}">Actualizar</a>
                                <a href="{% url 'propuestas:propuestas_delete' p.id %}">Eliminar</a>
                            </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No hay propuestas de tesis todavia...</p>
    {% endif %}
{% endblock %}


