{% extends 'template.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Estatus de TG</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        {% if user.is_authenticated %}
            {% if user.esAdmin or user.esGestor %}
            <a href="{% url 'estatusTGs:estatusTGs_create' %}" class="btn btn-outline-info" role="button">
                Crear estatus de TG
            </a>
            {% endif %}
        {% endif %}
        </div>
        <!--button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          Exportar proximamente poner este boton Herick
        </button!-->
      </div>
    </div>
    <!--h5>Agregar aaqui los filtros de búsqueda ELIAS!!</h5!-->
    {% if estatusTGs_list %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nombre</th>                        
                        {% if user.is_authenticated %}
                            {% if user.esAdmin or user.esGestor %}
                                <th>Accciones</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for p in estatusTGs_list %}
                    <tr>
                        <td>{{ p.nombre }}</td>
                        {% if user.is_authenticated %}
                            {% if user.esAdmin or user.esGestor %}
                            <td>
                                <a href="{% url 'estatusTGs:estatusTGs_update' p.id %}">Actualizar</a>
                                <a href="{% url 'estatusTGs:estatusTGs_delete' p.id %}">Eliminar</a>
                            </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No existen estatus de TG...</p>
    {% endif %}
{% endblock %}
