{% extends 'template.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Reporte 6: Defensas, TG o Propuestas por TERM</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <!--button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          Exportar proximamente poner este boton Herick
        </button!-->
      </div>
    </div>
    <form action="{% url 'reporte6s:reporte6_search' %}" method="GET" class="form-inline ml-3">
            <div class="cntnr-padding" style="margin-bottom: 15px;margin-top:15px;">
            <div class="row">
               <div class="">
                    <div class="input-group">
                      <input name="search" type="search" class="form-control" placeholder="Buscar por id...">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </span>
                    </div>
               </div>
               <div class="col-md-8"></div>
           </div>
        </div>
    </form>
    {% if propuesta_list_Reporte6 %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              {% if user.is_authenticated %}
                  {% if user.esAdmin or user.esGestor %}
                  <a href="{% url 'reporte6s:export_reporte6_xls' %}" class="btn btn-outline-info ml-5" role="button">
                      Exportar excel
                  </a>
                  {% endif %}
              {% endif %}
          </div>
          <!--button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            Exportar proximamente poner este boton Herick
          </button!-->
        </div>
      </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Terminologia</th>
                        <th>Defensa</th>
                        <th>Tesis</th>
                        <th>Propuesta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in propuesta_list_Reporte6 %}
                    <tr>
                        <td>{{p.tesis.propuesta.termin.id}}</td>
                        <td><a href="{% url 'defensas:defensas_details' p.id %}"> {{ p.id }}</a></td>
                        <td><a href="{% url 'tesis:tesis_details' p.tesis.id %}"> {{p.tesis}}</a></td>
                        <td><a href="{% url 'propuestas:propuestas_details' p.tesis.propuesta.id  %}">{{p.tesis.propuesta.id}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No hay propuestas de tesis todavia...</p>
    {% endif %}
{% endblock %}


