{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <h4 class="mb-3">Crear tesis</h4>
  <div class="row">
    <div class=" col-sm-8 col-12 card text-left p-5" style="margin-left: 15%">
      <form id="formCreate" method="post" novalidate>
        {% csrf_token %}
        <b>{{ form|crispy }}</b>

<!-- 
TODO: ELIAS: en el campo de estatus de la tesis poner un drownplist con los valores: 
* Por entegar
* Entregado falta defender
* Diferido
* Aprobado
* Aprobado con correciones
*Rechazada
  </!-->
        <div style="margin-bottom: 50px;">
            <button id="enviar" type="submit" class="btn btn-info">Guardar</button>
            <a href="{% url 'tesis:tesis_list' %}" class="btn btn-outline-info" role="button">
                Volver
            </a>
        </div>
        </form>
      </form>
    </div>
     <script type="text/javascript">
     $('#enviar').on('click', function(e){

      id = document.getElementById('id_id').value;
      titulo = document.getElementById('id_titulo').value;
      escuela = document.getElementById('id_escuela').value;
      estatus = document.getElementById('id_estatus').value;
      nrc = document.getElementById('id_nrc').value;
      descriptors = document.getElementById('id_descriptors').value;
      categoriatema = document.getElementById('id_categoriaTema').value;
      fechaTope = document.getElementById('id_fechaTope').value;
      empresa = document.getElementById('id_EmpresaNombre').value;
      termin = document.getElementById('id_termin').value;
      propuesta = document.getElementById('id_propuesta').value;

      if(id == ""){ swal("Error", "Falta el id", "error"); return false;}
      if(titulo == ""){ swal("Error", "Falta el titulo", "error");  return false;}
      if(escuela == ""){ swal("Error", "Falta la escuela", "error");  return false;}
      if(estatus == ""){ swal("Error", "Falta el estatus", "error"); return false;}
      if(nrc == ""){ swal("Error", "Falta el nrc", "error");  return false;}
      if(descriptors == ""){swal("Error", "Falta los descriptors", "error");return false;}
      if(categoriatema == ""){swal("Error", "Falta la categoria del tema", "error");return false;}
      if(fechaTope == ""){swal("Error", "Escriba la fecha tope", "error");return false;}
      if(empresa == ""){swal("Error", "Falta el nombre de la empresa", "error");return false;}
      if(termin == ""){swal("Error", "Falta la terminologia", "error");return false;}
      if(propuesta == ""){swal("Error", "Falta el nombre de la propuesta", "error");return false;}

      e.preventDefault();
      var $thisForm = $(this).parents('form');
      swal({
        title: 'Estas seguro?',
        text: "Los datos de la tesis seran guardados!",
        icon: 'warning',
        buttons: [
          'No',
          'Yes'
       ],
      dangerMode: true,
      }).then(function (isConfirm) {
          if(isConfirm){
            swal({
            title: 'Actualizado',
            text: 'La tesis fue creada satisfactoriamente!',
            icon: 'success'
            }).then(function() {
             $('#formCreate').submit();
            });
          }
          else{
            //
          }
      })
      });

    </script>
  </div>
{% endblock %}