{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <h4 class="mb-3">Crear tesis</h4>
  <div class="row">
    <div class=" col-sm-8 col-12 card text-left p-5" style="margin-left: 15%">
      <form method="post" novalidate>
        {% csrf_token %}
        <b>{{ form|crispy }}</b>

<!-- 
TODO: ELIAS: en el campo de estatus de la tesis poner un drownplist con los valores: 
* Por entegar
* Entregado falta defender
* Diferido
* Aprobado
* Aprobado con correciones
*Rechazada
  </!-->
        <div style="margin-bottom: 50px;">
            <button type="submit" class="btn btn-info">Guardar</button>
            <a href="{% url 'tesis:tesis_list' %}" class="btn btn-outline-info" role="button">
                Volver
            </a>
        </div>
        </form>
      </form>
    </div>
  </div>
{% endblock %}