{% extends 'template.html' %}
{% block content %}
    <form id="deleteForm" method="post">
        {% csrf_token %}
        <p>
            <br>
            <h4 class="mb-3">Eliminar tesis</h4>
            ¿Quieres eliminar esta tesis?
            <div style="margin-bottom: 50px; margin-top:10px">
                <button id="enviar" type="submit" class="btn btn-info">Guardar</button>
                <a href="{% url 'tesis:tesis_list' %}" class="btn btn-outline-info" role="button">Volver
                </a>
            </div>
            <script type="text/javascript">
                 $('#enviar').on('click', function(e){
                  e.preventDefault();
                  swal({
                    title: 'Estas seguro?',
                    text: "Los datos de esta tesis seran eliminados!",
                    icon: 'warning',
                    buttons: [
                      'No',
                      'Yes'
                   ],
                  dangerMode: true,
                  }).then(function (isConfirm) {
                      if(isConfirm){
                        swal({
                        title: 'Actualizado',
                        text: 'Tesis eliminada satisfactoriamente!',
                        icon: 'success'
                        }).then(function() {
                         $('#deleteForm').submit();
                        });
                      }
                      else{
                        //
                      }
                  })
                  });
              </script>
        </p>
    </form>
{% endblock %}