{% extends 'template.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Tranzabilidad de usuarios</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            {% if user.is_authenticated %}
                {% if user.esAdmin %}
                <a href="{% url 'tranzabilidads:export_tranzabilidad_xls' %}" class="btn btn-outline-info" role="button">
                    Exportar excel
                </a>
                {% endif %}
            {% endif %}
        </div>
      </div>
    </div>

    <form action="{% url 'tranzabilidads:tranzabilidads_search' %}" method="GET" class="form-inline ml-4">
            <div class="cntnr-padding" style="margin-bottom: 15px;margin-top:15px;">
            <div class="row">
               <div class="">
                    <div class="input-group">
                      <input name="search" type="search" value="{{cedula}}" class="form-control" placeholder="cedula o username">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                      </span>
                    </div>
               </div>
               <div class="col-md-8"></div>
           </div>
        </div>
    </form>

    {% if list_tranzabilidad %}
        <div class="table-responsive">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Usuario</th>
                        <th>tipo de accion</th>
                        <th>fecha de la accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in list_tranzabilidad %}
                    <tr>
                        <td>{{i.usuario.cedula}}</td>
                        <td>{{i.usuario.username}}</td>
                        <td>{{i.tipo_de_acccion}}</td>
                        <td>{{ i.fecha_accion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No hay tranzabilidad todavia para mostrar.</p>
    {% endif %}
{% endblock %}